{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<div class="container">
	<div class="row">
	<aside class="col-md-3">
		<!--   SIDEBAR   -->
		<ul class="list-group">
			<a class="list-group-item active text-center" href="{% url 'home' module %}">
				{% if module == 7 %}
					GESTION ADMIN.
				{% elif module == 5 %}
					GESTION TECH
				{% elif module == 3 %}
					GESTION A.S.S.
				{% elif module == 2 %}
					GESTION IMMO.
				{% elif module == 1 %}
					GESTION PLAC.
				{% endif %}
			</a>
			{% for compte in comptes %}
			<a class="list-group-item text-right"  href="{% url 'line' compte.account.id %}">{{compte.account.label}} <b>{{compte.account.code}}</b><small class="text-danger">({{compte.stats}}%)</small></b></a>
			{% endfor %}
		</ul>
		<br>
		{% if not user.is_staff and not user.is_admin %}
			<a class="btn btn-outline-primary btn-block" href="{% url 'create_requisition' module %}"> 
				<i class="fa fa-power-off"></i> <span class="text">Réquisition</span> 
			</a>
		{% else %}
		<a class="btn btn-outline-primary btn-block" href="{% url 'home' module %}"> 
			<i class="fa fa-power-off"></i> <span class="text">Réquisition</span> 
		</a>
		{% endif %}
		<!--   SIDEBAR .//END   -->
	</aside>
	<main class="col-md-9">
		<article class="card">
          <!-- card-body .// -->
		<header class="card-header">
			<span></span> <strong class="d-inline-block mr-3">TOTAL ENG.: <span class="text-danger">{{total_engagement|floatformat:0|intcomma}}</span> vs TOTAL C.O: <span class="text-primary">{{total_open_credit|floatformat:0|intcomma}}</span></strong>
			<span>{% now "SHORT_DATETIME_FORMAT" %}</span> </span> - (<strong class="text-danger">{{total_stats}}%</strong>)
		</header>
    <div class="table-responsive">
		<article class="card-body">
		  {% include 'includes/alerts.html' %}
		<header class="mb-4"><h4 class="card-title">Créer une réquisition</h4></header>
		<form method="POST", action="{% url 'create_requisition' module %}">
			{% csrf_token %}
				<div class="form-row">
					<div class="col form-group col-md-6">
						<label>Ligne budgetaire</label>
						<select class="form-control" name="ligne" required>
                        <option selected="true" value="" disabled>Choisir une ligne budgetaire</option>
                        {% for ligne in lignes %}
							<option value="{{ligne.code}}">{{ligne.label}}-{{ligne.code}}</option>
                        {% endfor %}
                    </select>
					</div> <!-- form-group end.// -->
					<div class="col form-group col-md-6">
						<label>Montant BX</label>
					  	<input type="number" class="form-control" placeholder="Montant BX" name="amount" required>
					</div>
				</div> <!-- form-row end.// -->
				<div class="form-row">
					<div class="form-group col-md-6">
						<label>Description</label>
						<input type="text" class="form-control" placeholder="Description de la commande" name="label" required>
					</div> <!-- form-group end.// -->
					<!-- form-row.// -->

					<div class="form-group col-md-6">
						<label>Fournisseur</label>
						<input type="text" class="form-control" placeholder="Nom du fournisseur" name="supplier_name" required>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label>N° de la Facture</label>
					    <input type="text" class="form-control" placeholder="N° de la Facture" name="purchase_order" required>
					</div> <!-- form-group end.// -->
					<div class="form-group col-md-6 ">
						<label>Enregistrer la réquisition</label>
						<button type="submit" class="btn btn-primary btn-block"> Enregistrer  </button>
					</div> <!-- form-group end.// -->
				<div>

				<small class="text-danger">{{ form.errors }}</small>
		</form>
		</article><!-- card-body.// -->
	</main>
</div> <!-- row.// -->
</div>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}
